@charset "UTF-8";
#bodyindex {
  font-family: 'Courgette', cursive;
  background-image: linear-gradient(to right, #FF5F6D, #FFC371); }

#bodyserv {
  background-image: linear-gradient(to left, #fe8c00, #f83600); }

#bodycont {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed); }

#bodycons {
  background-image: linear-gradient(to left, #fe8c00, #f83600); }

#bodyconoc {
  background-image: linear-gradient(to left, #fe8c00, #f83600); }

header {
  padding: 15px;
  background-image: linear-gradient(to bottom, grey, wheat);
  font-size: 2em; }

nav {
  display: flex;
  justify-content: center;
  flex-direction: row; }

nav a {
  text-decoration: none;
  padding: 10px; }

nav a:hover {
  background-color: red;
  color: white; }

.indmain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'IM Fell English SC', serif;
  font-size: 18px; }

footer {
  display: flex;
  justify-content: right;
  background-image: linear-gradient(to top, grey, wheat); }

footer a {
  text-decoration: none;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px; }

#alojamiento {
  display: flex;
  flex-direction: row;
  font-family: 'IM Fell English SC', serif;
  font-size: 35px; }

#paseos {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'IM Fell English SC', serif;
  font-size: 35px; }

#montañas {
  display: flex;
  flex-direction: row;
  font-family: 'IM Fell English SC', serif;
  font-size: 35px; }

#maleta {
  display: flex;
  flex-direction: row;
  font-family: 'Cabin Sketch', cursive;
  margin: 10px; }

#efectivo {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredericka the Great', cursive;
  margin: 10px; }

#investiga {
  display: flex;
  flex-direction: row;
  font-family: 'Cabin Sketch', cursive;
  margin: 10px; }

#pasap {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredericka the Great', cursive;
  margin: 10px; }

#conducir {
  display: flex;
  flex-direction: row;
  font-family: 'Cabin Sketch', cursive;
  margin: 10px; }

.card-title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px; }

.card-text {
  font-family: 'Cabin Sketch', cursive;
  font-size: 20px; }
