

header{
padding: 15px;
background-image: linear-gradient(to left,#fffbd5,#b20a2c);
font-size: 2em;
}

nav{
display: flex;
justify-content: center;
flex-direction: row;
font-family: 'Fredericka the Great', cursive;
font-size: 40px;
}

nav a{
text-decoration: none;
padding: 10px;    
}

nav a:hover{
background-color: red;
color: white;
}

.indmain{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family:'IM Fell English SC', serif; 
    font-size: 18px;
}

footer{
    display: flex;
    justify-content: right;
    background-image: linear-gradient(to top,grey,wheat);
}

footer a{
    text-decoration: none;
    padding: 10px;  
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
}
 