#alojamiento{
    display: flex;
    flex-direction: row;
    font-family:'IM Fell English SC', serif;
    font-size: 35px;
    align-items: center; 
}
#paseos{
    display: flex;
    flex-direction: row-reverse;
    font-family: 'IM Fell English SC', serif;
    font-size: 35px; 
    align-items: center;
}
#montañas{
    display: flex;
    flex-direction: row;
    font-family:'IM Fell English SC', serif;
    font-size: 35px;
    align-items: center;  
}